@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');

* {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  color: #111111;
}

body {
  background-color: lightslategray;
}

.App {
  text-align: center;
}

.wrapper {
  margin-bottom: 50px;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar .logo {
  color: #000;
  font-size: 30px;
  display: inline-block;
  margin: 50px;
  padding: 20px;
  width: 100px;
  border-radius: 4%;
  background-color: rgb(180, 180, 180, 0.6);
}

.nav-bar {
  border-bottom: 5px solid rgb(180, 180, 180, 0.6);
  width: 70%;
  margin: 0 auto;
}


.modules h1 {
  color: rgb(100, 100, 100);
}

.modules .links {
  margin-left: auto;
}

.modules a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.modules a:hover {
  color: #555555;
}

.add, .search {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.add label, .search label {
  text-align: left;
  display: block;
}
.add h2, .search h2 {
  font-size: 20px;
  color: #333333;
  margin-bottom: 30px;
}
.add input, .add textarea, .add select, .search input, .search textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.add button {
  background: #444444;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.user {
  margin: 25px;
}